.signup{
    display: block;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

}
.inputs{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.div{
    justify-content: center;
    align-items: center;
    display: grid;
}
.btn{
    width: 177px;
    background: rgb(20, 199, 223);
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;


}