body{
   
    background: whitesmoke;
    color: whitesmoke;
}
.ad{
    background: #35654d;
    text-align: center;
    border: 5px solid #a3bc71;
}
.cta{
    color: red ;
    border: 2px solid #A3BC71;
    padding: 5px 10px ;
}