div {
    text-align: center;
    color: white;
    margin: 5px;
    padding: 25px 0;
    background-color: red;
    font-size: 30px;
    font-weight: bold;
}
div:hover{
    background: orangered;
    font-size: 40px;
    /* background-image: url("fast.jpg"); */
}